.detail-page {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 70vh;
  @media (max-width: 768px) {
    flex-direction: column; 
    height: auto;
  }
  .cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(243, 240, 240);
    .image-wrapper {
      position: relative;
      max-width: 70%;
      max-height: 70%;
      overflow: unset;
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: fill;
      box-shadow: 10px 10px 5px rgb(163, 163, 163);
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 3.5em;
  @media (max-width: 768px) {
    padding: 2em;
  }
  & > * {
    overflow: unset;
    margin-bottom: 0.8em;
  }
  &__description-text {
    max-height: 100%;
    overflow: auto;
    border: 1px solid;
    border-color: rgb(212, 212, 212);
    padding: 0.8em;
  }
}

.split {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}