.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:rgb(243, 240, 240);
  padding: 20px;
  transition-property: transform, background-color;
  transition-duration: 0.3s;
  cursor: pointer;

  .image-wrapper {
    align-self: center;
    overflow: unset;
    margin-bottom: 20px;
  }

  &__image {
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 10px 10px 5px rgb(163, 163, 163);
    color: black;
  }

  &-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__category{
    color: gray;
  }

  &__title{
    color: black;
  }

  &__authors{
    color: gray;
  }
}

.card:hover {
  transform: scale(0.95);
  background-color: rgba(243, 240, 240, 0.5);
}