.button-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  .button {
    color: white;
    padding: 0.625em 1.5em;
    cursor: pointer;
    background-color: rgb(47, 24, 255);
    border-radius: 1em;
    border: none;
  }
}