.search-count {
  color: black;
  text-align: center;
  margin: 1.25em;
}
.main-container {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  grid-gap: 2.5em;
}
