.input {
  position: relative;
  margin: 0.625em auto;
  height: 2rem;
  width: 500px;
  overflow: hidden;
  &__field{
    position: absolute;
    height: inherit;
    width: 100%;
    color: black;
    
  }
  &__icon {
    position: absolute;
    background-size: cover;
    right: 0;
    top: 2px;
    width: 2em;
    height: inherit;
  }
}

@media (max-width: 768px ) {
  .input {
    width: 500px;
  }
}
@media (max-width: 576px ) {
  .input {
    width: 300px;
  }
}
