.input {
  position: relative;
  margin: 10px auto;
  height: 30px;
  width: 500px;
  overflow: hidden;
  &__field{
    position: absolute;
    height: inherit;
    width: 100%;
    color: black;
    
  }
  &__icon {
    position: absolute;
    background-size: cover;
    right: 0;
    top: 2px;
    width: 30px;
    height: inherit;
  }
}

@media (max-width: 768px ) {
  .input {
    width: 500px;
  }
}
@media (max-width: 576px ) {
  .input {
    width: 300px;
  }
}
